<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCguUkRG9jggQE40qCAfBM0MVm8r32lTZU</string>
	<key>GCM_SENDER_ID</key>
	<string>189508225946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gvsu.cis357.ios1024</string>
	<key>PROJECT_ID</key>
	<string>cis357-215e4</string>
	<key>STORAGE_BUCKET</key>
	<string>cis357-215e4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189508225946:ios:760b25353c9ed243740823</string>
</dict>
</plist>